/*
  colors
*/
$black: #112236;
$white: #f5f5f5;


$background-color: #f8fbff;
$background-color-dark: #d6e8ff;
$text-color-dark: #001018;
$primary-color: #2FE1D6;

$border-radius-small: 1px;


/*
  breakpoints
*/
$bp-mobile: 480;
$bp-tablet: 768;
$bp-laptop: 970;
$bp-desktop: 1280;
$bp-desktop-large: 1366;
$bp-desktop-xlarge: 1420;

/*
  speeds
*/
$s-fast: 125ms;
$s-medium: 750ms;
$s-slow: 2s;
// $bassieSlide: cubic-bezier(0.25, 0.6, 0.35, 1);
// $bassieSlide: cubic-bezier(.22,.21,.71,.96);
$bassieSlide: cubic-bezier(0.165, 0.84, 0.44, 1);